body {
  margin: 0;
  overflow: hidden;
}
body h1 {
  position: absolute;
  max-width: 150px;
  top: 0.5rem;
  left: 1.5rem;
  color: #fcba03;
  font-size: 1.25rem;
  text-shadow: 2px 2px rgba(0, 0, 0, 0.5);
  font-family: Arial;
}
body h1.lastScore {
  left: calc(100vw - 10.8rem);
  top: 2rem;
}
body h1.score {
  left: calc(100vw - 8rem);
}
body h1.lose {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -100%);
  width: 100vw !important;
  max-width: 100vw;
  font-size: 5rem;
  text-align: center;
  opacity: 0;
  transition: opacity 0.2s ease-out;
}
body h1.lose.show {
  opacity: 1;
}

canvas {
  display: block;
}